* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}
table{
  margin: auto
}
td{
  padding: 15px;
  border: 1px solid black
}
th{
  padding: 15px;
}
